
h1 {
    font-family: 'Pinyon Script', cursive;
    margin-left: 40%;
    margin-top: 40px;
    color: #e24280;
}

h2 {
    font-family: 'Cute Font', cursive;
    font-size: large;
    color: #057276;
    margin: 25px;
}

button {
    font-family: 'Cute Font', cursive;
    margin: 10px;
    color: #ffffff;
    background-color: rgb(165, 85, 159);
}

body {
    background-image: url(../images/disneyprincesses.jpg);
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: right bottom;
    

}

    
}
