
h1 {
    font-family: 'Pinyon Script', cursive;
    margin-left: 30%;
    margin-top: 30px;
    color: #e24280;
}

h2 {
    font-family: 'Cute Font', cursive;
    font-size: large;
    color: #057276;
    margin: 25px;
}

button {
    font-family: 'Cute Font', cursive;
    margin: 10px;
    color: #ffffff;
    background-color: rgb(165, 85, 159);
}

body {
    background-image: url("assets/images/disneyprincesses.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
